:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --fs: 0.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* HEADER & NAVIGATION */

.main-header {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  color: var(--White);
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation li a {
  color: var(--White);
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.menu-btn {
  display: none;
}

.border-bottom {
  background-color: transparent;
  width: 20px;
  height: 2px;
  transition: 0.3s;
}

li:hover .border-bottom {
  background-color: var(--White);
}

/* HEADING SECTION - SLIDER */

.slider {
  position: relative;
  height: 60vh;
  margin-top: -121px;
}

.heading-section {
  height: 100%;
  position: absolute;
  display: flex;
  opacity: 0;
}

.heading-section.active {
  opacity: 1;
}

.heading-section .main-image {
  width: 60%;
}

.main-image img {
  width: 100%;
  height: 100%;
}

.heading-section__text {
  width: 40%;
  display: grid;
  place-content: center;
  gap: 2rem;
  padding-inline: 4.5rem;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  color: var(--Black);
}

p {
  line-height: 1.5;
  color: var(--Dark-Gray);
}

button {
  border: none;
  cursor: pointer;
}

.shop-now-btn {
  display: flex;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 13px;
  color: var(--Black);
  background: url(images/icon-arrow.svg) no-repeat right top;
  width: 245px;
  transition: 0.2s;
  z-index: 1;
}

.shop-now-btn:hover {
  color: var(--Dark-Gray);
  background: url(images/icon-arrow-hover.svg) no-repeat right top;
}

.slider-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
}

.slider-buttons button {
  background-color: var(--Black);
  padding: 1.5rem 1.8rem;
  width: 50%;
  transition: 0.3s;
  z-index: 1;
}

.slider-buttons button:hover {
  background-color: var(--Very-Dark-Gray);
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  height: 40vh;
}

.about-section img {
  width: 30vw;
}

.about-section__text {
  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 2rem;
  width: 40vw;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 7px;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px), screen and (max-height: 780px) {
  .heading-section__text {
    gap: 1rem;
    padding-inline: 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: var(--fs);
  }
}

@media (max-width: 720px) {
  .main-header {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  .menu-btn {
    display: flex;
    background-color: transparent;
    position: absolute;
    left: 1.5rem;
  }

  .slider {
    height: 77vh;
  }

  .heading-section {
    flex-direction: column;
  }

  .heading-section .main-image,
  .heading-section__text {
    width: 100%;
  }

  .heading-section__text {
    padding-inline: 1rem;
    padding-block: 3rem;
  }

  .shop-now-btn {
    margin-top: 1rem;
  }

  .slider-buttons {
    right: 0;
    bottom: 100%;
  }

  .slider-buttons button {
    padding: 1rem 1.5rem;
  }

  .about-section {
    flex-direction: column;
  }

  h2 {
    letter-spacing: 5px;
  }

  .about-section img,
  .about-section__text {
    width: 100%;
  }

  .about-section__text {
    padding: 2.2rem;
  }
}

@media (max-height: 770px) {
  .slider {
    height: 90vh;
  }
}
